{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:jest/all"
    ],
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "env": {
        "node": true,
        "commonjs": true,
        "browser": true,
        "es6": true,
        "jest/globals": true
    },
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "jest"
    ],
    "rules": {
        "prettier/prettier": "warn",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-unused-vars": "warn",
        "jest/no-hooks": "off"
    }
}